@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size-default: 16px;

    --container-padding-xs: var(--padding-xs);
    --container-padding-sm: var(--padding-sm);
    --container-padding-md: var(--padding-md);
    --container-padding-lg: var(--padding-lg);
    --container-padding-xl: var(--padding-xl);

    --container-width: min(1000px, 90vw);
}

// Use the color variables
html {
    line-height: 1.1;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    background-color: var(--light);

    font-size: var(--font-size-default);

    ::-webkit-scrollbar {
        width: 6px;
        background-color: var(--color-secondary) !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--color-primary);
    }

    overflow-x: hidden;
}

body {
    width: 100%;
    font-family: var(--font-family), system-ui, -apple-system, Segoe UI, Roboto;
}

* {
    margin: 0;
}

.container {
    width: var(--container-width);
    max-width: 100% !important;
    padding-inline: var(--padding-sm);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1200px) {
    .container {
        padding-inline: var(--padding-xl) !important;
    }
}

@media (min-width: 830px) {
    .container {
        padding-inline: var(--padding-lg) !important;
    }
}
