@import url(https://unpkg.com/open-props);
:root {
  --color-primary: #139dac;
  --color-secondary: #003f3b;
  --color-accent: #ffdc6b;
  --color-light: #f8f8f8;
  --color-dark: #343a40;
  --color-gray: #767b80;
}

:root {
  --border-rad-sm: var(--radius-2);
  --border-rad-md: var(--radius-3);
  --border-rad-lg: var(--radius-4);
  --border-round: var(--radius-round);
  --button-padding-block-sm: var(--size-2);
  --button-padding-block-md: var(--size-3);
  --button-padding-block-lg: var(--size-4);
  --button-padding-inline-sm: var(--size-2);
  --button-padding-inline-md: var(--size-4);
  --button-padding-inline-lg: var(--size-7);
  --border-primary: var(--color-primary);
  --border-secondary: var(--color-secondary);
  --border-accent: var(--color-accent);
  --border-light: var(--color-light);
  --border-dark: var(--color-dark);
  --border-gray: var(--color-gray);
  --border-sm: var(--border-size-1);
  --border-md: var(--border-size-2);
  --border-lg: var(--border-size-3);
  --button-transparent: transparent;
  --button-background-color: var(--bg-primary);
}

button,
.btn {
  border: var(--border-md) solid var(--border-primary);
  color: var(--color-primary);
  transition: all 0.1s ease-in-out;
  background: var(--button-transparent);
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.rounded-btn {
  --button-padding-block: var(--button-padding-block-md);
  --button-padding-inline: var(--button-padding-inline-lg);
  border-radius: var(--border-round);
  font-size: var(--text-md);
  padding-block: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);
}

.send-btn {
  --button-background-color: var(--color-accent);
  --button-padding-block: var(--button-padding-block-sm);
  --button-padding-inline: var(--button-padding-inline-md);
  border-color: var(--border-accent);
  color: var(--color-accent);
  font-weight: var(--text-bold);
  padding-block: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);
  max-width: 100%;
}

.menu-btn {
  --button-padding-block: var(--button-padding-block-sm);
  display: flex;
  align-items: center;
  padding: var(--button-padding-block);
  max-width: 100%;
  border: none;
  transition: all 0.2s ease-in-out;
  color: var(--color-dark);
  border-radius: var(--border-rad-md);
  padding: var(--button-padding-block-sm) var(--button-padding-inline-md);
}
.menu-btn li {
  width: 100%;
}
.menu-btn.submenu-button {
  margin-left: calc(var(--button-padding-block) + 2.25rem);
  width: calc(100% - var(--button-padding-block) - 2.25rem);
}
.menu-btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.action-btn {
  background-color: var(--gray);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  color: var(--color-dark);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.btn-link {
  background-color: transparent;
  color: var(--color-dark);
  text-align: end;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding-right: var(--padding-xs) !important;
}

.animated-btn-circle {
  position: relative;
  overflow: hidden;
}
.animated-btn-circle span {
  transition: all 0.3s;
}
.animated-btn-circle::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-background-color);
  z-index: 0;
  transition: all 0.5s;
  clip-path: circle(50% at 50% 50%);
  scale: 0;
  opacity: 0.1;
}
.animated-btn-circle:hover span {
  position: inherit;
  z-index: 1;
}
.animated-btn-circle:hover::before {
  scale: 2;
}

.animated-btn-arrow {
  padding-right: calc(var(--button-padding-inline) + 1rem);
}
.animated-btn-arrow:after {
  content: ">";
  padding-left: 0.5rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.animated-btn-arrow:hover:after {
  transform: translateX(0.2rem);
}

:root {
  --color-primary: #139dac;
  --color-secondary: #003f3b;
  --color-accent: #ffdc6b;
  --color-light: #f8f8f8;
  --color-dark: #343a40;
  --color-gray: #767b80;
}

:root {
  --font-family: "Coolvetica", sans-serif;
  --font-size-default: 100%;
  --text-xs: var(--font-size-1);
  --text-sm: var(--font-size-3);
  --text-md: var(--font-size-5);
  --text-lg: var(--font-size-6);
  --text-xl: var(--font-size-8);
  --text-thin: var(--font-weight-1);
  --text-normal: var(--font-weight-5);
  --text-bold: var(--font-weight-9);
  --text-primary: var(--color-primary) !important;
  --text-secondary: var(--color-secondary) !important;
  --text-accent: var(--color-accent) !important;
  --text-light: var(--color-light) !important;
  --text-dark: var(--color-dark) !important;
  --text-menu-color: var(--color-secondary);
  --text-menu-size: var(--text-md);
}

h2 {
  font-size: var(--text-xl);
  color: var(--text-primary);
  font-weight: var(--text-bold);
}

h3 {
  font-size: var(--text-md);
}

p {
  font-size: var(--font-size-default);
  color: var(--text-secondary);
  font-weight: var(--text-normal);
}
p.text-md {
  font-size: var(--text-md);
}
p.alternative-text {
  color: var(--light);
}

.form {
  width: 100%;
  gap: var(--size-sm);
}
.form .form-group {
  position: relative;
}
.form .form-group .placeholder-label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: var(--light);
  opacity: 0.8;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: var(--text-xs);
}
.form .form-group .form-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 3px solid var(--color-light);
  outline: none;
  font-size: var(--text-md);
  transition: border-bottom-color 0.3s ease;
  background: none;
  color: var(--color-light);
  font-family: var(--font-family);
  resize: none;
  overflow-y: hidden;
}
.form .form-group .active {
  border-bottom-color: var(--color-light);
}
.form .form-group .active + .placeholder-label {
  top: -5px;
  left: 0;
  opacity: 1;
  color: var(--light);
}
.form .send-btn {
  width: 100%;
}

@media (min-width: 1200px) {
  .form {
    max-width: 400px;
  }
}
@media (min-width: 830px) {
  .form .placeholder-label {
    color: var(--color-accent);
  }
  .form .form-input {
    border-bottom-color: var(--color-primary) !important;
  }
}
:root {
  --accent: #ffdc6b;
  --light: #f8f8f8;
  --dark: #343a40;
  --gray: #343a401e;
  --bg-primary: var(--color-primary);
  --bg-secondary: var(--secondary);
  --bg-accent: var(--accent);
  --text-primary: var(--color-primary);
  --text-secondary: var(--secondary);
  --text-accent: var(--accent);
  --bg-light: background-color: var(--light);
  --bg-dark: background-color: var(--dark);
  --text-light: color: var(--light);
  --text-dark: color: var(--dark);
  --font-family: "Coolvetica", sans-serif;
  --aside-width: 16em;
  --header-height: 6em;
  --header-padding: 2em;
  --padding-xs: 1.2rem;
  --padding-sm: 2rem;
  --padding-md: 4rem;
  --padding-lg: 8rem;
  --padding-xl: 10rem;
  --margin-xs: 1.2rem;
  --margin-sm: 1.5rem;
  --margin-md: 2rem;
  --margin-lg: 4rem;
  --margin-xl: 6rem;
  --size-xs: 1.2rem;
  --size-sm: 2rem;
  --size-md: 4rem;
  --size-lg: 8rem;
  --size-xl: 10rem;
  --border-radius-xs: 0.2rem;
  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
}

.bottom-shadow {
  box-shadow: 0 1px 10px var(--color-gray);
}
